html, body {
  height: 100%;
}

#container-wrp { // TODO: fix it goes too much bottom
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 80px auto -140px;
}
#push, #footer {
  height: 60px;
}

/* Remove margin when navigation goes static in narrow viewports */
@media (max-width: 979px) {
  #container-wrp {
    margin: 0 auto -60px;
  }
}
