@import "app/fontface";
@import "app/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/bootstrap/responsive";

@import "app/navigation";
@import "app/header";
@import "app/footer";

@import "app/index";


html, body {
  height: 100%;
}

#container-wrp {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -@footer-height;
}

#push, #footer {
  height: @footer-height;
}

.thumbnail {
  .badge-img {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
}
.thumbnail-title {
  text-align: center;
}
