<ul id="nav"> <!--  class="ca-menu" -->

  <li class="nav-elem-wrp">
    <a class="nav-elem" href="#">
      <div class="nav-elem-open">
        <span class="nav-elem-icon">I</span>
        <h2 class="nav-elem-title">Creative Storyte</h2>
        <div class="clear"></div>
        <h3 class="nav-elem-subtitle">Advanced use of technology</h3>
      </div>
      <div class="nav-elem-close">
        <span class="nav-elem-icon">I</span>
      </div>
    </a>
  </li>

</ul>
