<section id="footer">
  <div class="well well-small">
    <div class="row-fluid">

      <div id="footer-copyright-wrp" class="span8">
        <p id="footer-copyright">
          Copyright &copy <%= Time.now.year %> <%= config[:author][:name] %>.
          All rights reserved.
        </p>
      </div>

      <div id="footer-builtusing-wrp" class="span4">
        <div class="row-fluid">

          <div class="span10">
            <p id="footer-builtusing">
              Built using <a href="http://molarialessandro.info/projr">Projr</a>
              by <a href="http://molarialessandro.info">alem0lars</a> and
              contributors.
            </p>
          </div>

          <div class="span2">
            <a href="https://twitter.com/share" class="twitter-share-button"
               data-url="http://molarialessandro.info/projr"
               data-text="Project websites made simple by Projr"
               data-count="none" data-hashtags="projr">Tweet</a>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
